/* 회색 배경 */
.background{
    width: 1920px;
    height: 1080px;

    box-sizing: border-box;
    
    display: flex;
    justify-content: center;

    background: #FFFFFF;
}

/* 회원가입 배경 */
.form{
    width: 670px;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    border: 1px solid #aacdff;
    box-shadow: 7px 7px 39px
        rgba(0, 104, 255, 0.25);
    border-radius: 20px;
}

/* 회원 가입을 위해 정보를 입력해주세요 */
.stext{
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    
    color: #0068FF;
}

.pw{
    border:1px solid blue;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}